.education{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 38%;
    background:linear-gradient(to top left, rgba(41, 6, 238, 0.1), rgb(172, 176, 179,0.8));
    padding: 8rem;
    border-radius: 10px;
    box-shadow: 0 30rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: aliceblue;
    opacity: 1;
    
}
.close-modal2 {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  .project-img{
     
      display: flex;
      flex-direction: column ;
      align-items: flex-end;
      color: black;
  }
  .hadoop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 38%;
    background:linear-gradient(to top left, rgba(41, 6, 238, 0.1), rgb(172, 176, 179,0.8));
    padding: 8rem;
    border-radius: 10px;
    box-shadow: 0 30rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: aliceblue;
    opacity: 1;
    
}
.close-modal3 {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

  .rubber_toy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 38%;
    background:linear-gradient(to top left, rgba(41, 6, 238, 0.1), rgb(172, 176, 179,0.8));
    padding: 8rem;
    border-radius: 10px;
    box-shadow: 0 30rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: aliceblue;
    opacity: 1;
    
}
.close-modal4 {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  .source{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 38%;
    background:linear-gradient(to top left, rgba(41, 6, 238, 0.1), rgb(172, 176, 179,0.8));
    padding: 8rem;
    border-radius: 10px;
    box-shadow: 0 30rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: aliceblue;
    opacity: 1;
    
    
}
.source_title{
    font-size: 20px;
}
.close-modal5 {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  .threejs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 38%;
    background:linear-gradient(to top left, rgba(41, 6, 238, 0.1), rgb(172, 176, 179,0.8));
    padding: 8rem;
    border-radius: 10px;
    box-shadow: 0 30rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: aliceblue;
    opacity: 1;
    
}
.close-modal6 {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 38%;
    background:linear-gradient(to top left, rgba(41, 6, 238, 0.1), rgb(172, 176, 179,0.8));
    padding: 8rem;
    border-radius: 10px;
    box-shadow: 0 30rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: aliceblue;
    
    
}
.mparent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mitem1{
    flex:1;
    
}
.mitem2 button{
    border: 0;
    background: linear-gradient(to top left, rgb(8, 10, 151), rgb(13, 142, 216));
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #224a94;;
    padding: 10px 30px;
    outline: none;
    color: rgb(252, 252, 252);
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
    font-size: 20px;
    font-weight: bold;
}
.mitem2 button:hover{
    background:  #0408f1f3;
}
.mitem2{
    flex:1; 
    display: flex;
    width: 120%;
    height: 100%;
    justify-content: space-between;
    align-items: left;
}
.mitem3{
    flex:4;
}

.mitem2_child1{
    flex: 4;
}
.mitem2_child2{
    flex:1;
    color: rgb(3, 3, 3);
}
.hidden {
    display: none;
}
.keyboard_icon{
    position: relative;
    top: 10px;
}
.text
{
    position: absolute;
    top: 30px;
    left: -12px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}
.point:hover .text
{
    opacity: 1;
}
.point2:hover .text
{
    opacity: 1;
}
.point3:hover .text
{
    opacity: 1;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.start_icon {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: none;
    background: none;
}
.resume_icon {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: none;
    background: none;
}



.Name{
   
}



